.tileBoard {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(11, 1fr);
	grid-gap: 2px;
	aspect-ratio: 1 / 1;
	margin-top: 1em;
	margin-bottom: 1em;
}

.tile {
	background-color: lightgray;
	border-radius: 2px;
	border: 0;
}

.forest { background-color: green; }
.village { background-color: red; }
.farm { background-color: yellow; }
.water { background-color: blue; }
.monster { background-color: purple; }

.brushes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.brushes > button {
	border: 0;
	border-radius: 5px;
	padding: 0.5em;
	margin: 0.5em;
}

.boardSelector {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin-bottom: 0.5em;
}

.boardSelector label {
	font-weight: bold;
}

.boardSelector select {
	padding: 0.5em;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: white;
	cursor: pointer;
}

.erase {
	background-color: white;
}

.tile.mountain {
	background: rgb(125, 120, 120);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: lighter;
	border: 1px solid var(--mountain-border);
	padding: 4px;
}

.tile.mountain > .inner {
	width: 100%;
	height: 100%;
	background-image: url( /mountain.png );
	background-repeat: no-repeat;
  background-size: contain;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mountainCoin {
	width: 30%;
	height: 30%;
	background-color: gold;
	border-radius: 50%;
	border: 2px solid rgb(184, 134, 11);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.tile.blocked {
	background: rgb(80, 70, 60);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgb(60, 50, 40);
	padding: 4px;
	cursor: not-allowed;
}

.tile.blocked > .blockedInner {
	width: 100%;
	height: 100%;
	background: linear-gradient(135deg, rgb(70, 60, 50) 0%, rgb(90, 80, 70) 50%, rgb(70, 60, 50) 100%);
	border-radius: 2px;
}

.coins {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.coin {
	background-color: yellow;
	border-radius: 100;
	margin: 4px;
	aspect-ratio: 1 / 1;
	flex-grow: 1;
}

.selected {
	background-color: rgb(121, 88, 3);
}

.scoreBoard {
	display: flex;
	flex-direction:row;
	overflow-x: auto;
}

.scoreBoard .seasonScore {
	display: flex;
	flex-direction: row;
}

.scoreBoard .seasonScoreTotal {
	padding: 1em;
	text-align: center;
}

.scoreBoard .seasonScores {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.scoreBoard .totalScore {
	padding: 1em;
	text-align: center;
}

.scoreBoard input {
	width: 35px;
}

.scoreBoard .seasonScoreComponents {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}